// Colours and Fonts
$primary-color: #008554;
$dark-grey: #58595b;
$light-grey: #f0f0f4;
$body-color: #292929;
$main-font: 'Open Sans', Arial, sans-serif;
$light: 300;
$regular: 400;
$semi-bold: 600;
$bold: 700;

// More Colours
$call-content: #da459c;
$voting: #2274a5;
$tickets: #eac435;
$agenda: #58595b;

$link-hover-fg: #2a7dac;
$link-focus-bg: #54a6d6;

// Agenda
$aqua-room: #01b6ad;
$blue-room: #54a6d6;
$green-room: #66ad4a;
$orange-room: #cd9152;
$purple-room: #9e55c0;
$red-room: #ad4a54;
$foyer-room: #dd4876;
$yellow-room: #e3d800;
$keynote-room: #01b6ad;
$locknote-room: #01b6ad;
$afterparty-room: #dd4876;

p.blue {
  color: #00a2ff;
}
div.blue,
section.blue {
  background-color: #00a2ff;
}

p.light-grey,
p.grey {
  color: #f0f0f0;
}

div.light-grey,
div.grey,
section.light-grey,
section.grey {
  background-color: #f0f0f0;
}
