@import 'mixins.scss';

form {
  background: $light-grey;
  padding: 10px 15px;
  ul {
    margin: 0; padding: 0;
    li {list-style: none outside}
    li:before {display: none}
  }
  label {font-weight: 400; margin: 10px 10px 0 0}
  input:not([type="submit"]):not([type="radio"]):not([type="checkbox"]), textarea, select {
    @include box-sizing(border-box);
    border: 0;
    width: 100%;
    background: #fff;
    padding: 4px 6px
  }
  input[type="submit"] {
    margin: 10px 0 0 0;
    background: $primary-color;
    font-weight: 700;
    color: #fff;
    border: 0;
    padding: 8px 20px;
    @include transition(.2s)
  }
    input[type="submit"]:hover {
      background: darken($primary-color, 5%);
    }
  input:disabled, input:disabled:hover {
    background: #777;
    @include opacity(0.3);
    cursor: not-allowed;
  }
  textarea {
    min-height: 100px;
  }
}






//  Mobile Landscape (From 480px)
@media only screen and (min-width: 480px) {

}



//  Small devices (tablets, 768px and up)
@media only screen and (min-width: 768px) {

  form {
    padding: 15px 20px;
  }

}



//  Medium devices (desktops, 992px and up)
@media only screen and (min-width: 992px) {

  form {
    padding: 20px 25px;
  }

}



//  Large devices (large desktops, 1200px and up)
@media only screen and (min-width: 1200px) {

}



//  Ex Large devices (large desktops, 1200px and up)
@media only screen and (min-width: 1400px) {

  form {
    padding: 25px 30px;
  }

}
