// Mixins
@mixin transition($transition){
  -webkit-transition: $transition;
  -moz-transition:    $transition;
  -ms-transition:     $transition;
  -o-transition:      $transition;
}
@mixin transform($string){
  -webkit-transform: $string;
  -moz-transform:    $string;
  -ms-transform:      $string;
  -o-transform:      $string;
}
@mixin opacity($opacity: 0.5){
  -webkit-opacity: $opacity;
  -moz-opacity:    $opacity;
  opacity:      $opacity;
}
@mixin box-shadow($string){
  -webkit-box-shadow: $string;
  -moz-box-shadow:    $string;
  box-shadow:         $string;
}
@mixin border-radius($radius: 5px){
  -webkit-border-radius: $radius;
  -moz-border-radius:    $radius;
  border-radius:         $radius;
}
@mixin calc($expression){
      width: -moz-calc($expression);
      width: -o-calc($expression);
      width: -webkit-calc($expression);
      width: calc($expression);
}
@mixin filter($string){
    -webkit-filter: $string; /* Chrome, Safari, Opera */
    filter: $string;
}
@mixin inner-shadow($x: 0, $y: 1px, $blur: 2px, $spread: 0, $alpha: 0.25){
  -webkit-box-shadow: inset $x $y $blur $spread rgba(0, 0, 0, $alpha);
  -moz-box-shadow:    inset $x $y $blur $spread rgba(0, 0, 0, $alpha);
  box-shadow:         inset $x $y $blur $spread rgba(0, 0, 0, $alpha);
}
@mixin box-sizing($type: border-box){
  -webkit-box-sizing: $type;
  -moz-box-sizing:    $type;
  box-sizing:         $type;
}
@mixin backface-visibility($string){
  -webkit-backface-visibility: $string;
  backface-visibility: $string;
}
