@import 'mixins.scss';
@import 'colours-and-fonts.scss';
@import 'typography.scss';
@import 'forms.scss';
@import 'tito.scss';

body,
html {
}
body {
  font-family: $main-font;
  line-height: 1.5;
}

// General
section {
  text-align: center;
}
img {
  max-width: 100% !important;
}
hr {
  border-top: 3px solid #dcdcdc;
}
.clear {
  clear: both;
}
.btn {
  padding: 6px 12px;
  margin: 0;
  font-size: 14px;
  font-weight: $bold;
  white-space: nowrap;
  vertical-align: middle;
  border: none;
  line-height: 1.4;
  @include border-radius(0);
  @include transition(0.2s);
  background: $primary-color;
  color: #fff !important;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}
.btn:focus,
.btn:active,
.btn-primary:active:hover {
  background: darken($primary-color, 5%);
}
.btn-sm {
  padding: 5px 10px;
  font-size: 11px;
  line-height: 1.1;
}
.btn:after,
.maillink:after {
  content: '\f0da';
  font-family: 'FontAwesome';
  color: #000;
  @include opacity(0.3);
  display: inline-block;
  margin: 0 0 0 10px;
  font-size: 16px;
  max-width: 20px;
  vertical-align: middle;
  position: relative;
  top: -1px;
}
.btn-mail:after,
.maillink:after {
  @include opacity(1);
  content: '\f003';
  color: #fff;
}
.maillink:after {
  color: inherit;
  margin: 0 5px;
}
.btn-pdf:after {
  @include opacity(1);
  content: '\f1c1';
  color: #fff;
}
.btn:hover,
.btn-primary:hover[disabled]:hover,
.badge-primary {
  background: darken($primary-color, 5%);
  color: #fff;
}
.btn:focus {
  outline: 0;
}

a.btn {
  &,
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

// Back Button
.btn.back:after {
  float: left;
  margin: 0 15px 0 -5px;
  @include transform(rotateY(180deg));
}

// Button Colours
.btn.content,
.btn.remove-vote,
.btn-secondary {
  background-color: $call-content;
}
.btn.content:hover,
.btn.remove-vote:hover,
.btn.content:active,
.btn.remove-vote:active,
.btn.content:focus,
.btn.remove-vote:focus,
.badge-secondary,
.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:focus {
  background-color: darken($call-content, 5%);
}

.btn.voting {
  background-color: $voting;
}
.btn.voting:hover,
.btn.voting:active,
.btn.voting:focus,
.badge-info {
  background-color: darken($voting, 5%);
}

.btn.tickets,
.btn.add-vote {
  background-color: darken($tickets, 5%);
}
.btn.tickets:hover,
.btn.add-vote:hover,
.btn.tickets:active,
.btn.add-vote:active,
.btn.tickets:focus,
.btn.add-vote:focus {
  background-color: darken($tickets, 10%);
}

.btn-waitlist {
  background: $call-content !important;
}

.btn.agenda {
  background-color: darken($agenda, 5%);
}
.btn.agenda:hover,
.btn.agenda:active,
.btn.agenda:focus {
  background-color: darken($agenda, 10%);
}

.btn.sponsors {
  background-color: $dark-grey;
}
.btn.sponsors:hover,
.btn.sponsors:active,
.btn.sponsors:focus {
  background-color: darken($dark-grey, 5%);
}

.btn.add-vote:after,
.btn.remove-vote:after {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  top: 0px;
}

.btn.add-vote:after {
  content: '\f067';
}

.btn.remove-vote:after {
  content: '\f068';
}

// Sprite
.blog-list-post .blog-date:before,
.blog-list-post .blog-date:after {
  background-image: url('/static/images/sprite.png') !important;
}

// Modals
.modal.fade.in {
  padding-right: 0 !important;
}
.modal-header {
  .close {
    font-size: 30px;
  }
  p {
    margin: 5px 0;
  }
}
h4.modal-title {
  margin-right: 30px;
}
.modal-content {
  border: 0;
  @include border-radius(1px);
  @include box-shadow(0 1px 2px rgba(20, 20, 20, 0.4));
}
.modal-body > p {
  margin-top: 0;
}

.modal-body p {
  line-height: 1.8;
}

// Header
header {
  position: relative;
  z-index: 9;
  color: #fff;
  text-align: center;
  background: $primary-color;
  a {
    color: #fff;
  }
  .logo {
    font-family: 'Montserrat', sans-serif;
    line-height: 70px;
    text-transform: uppercase;
    font-size: 25px;
    margin: 0;
  }
}

// Fader
.fader {
  height: 220px;
  background: url('/static/images/fader-back-3.jpg') 0 no-repeat;
  position: relative;
  z-index: 1;
  background-size: cover;
}

// Banner
.banner {
  height: 160px;
  background: url('/static/images/fader-back-3.jpg') 0 30% no-repeat;
  position: relative;
  z-index: 1;
  background-size: cover;
}

// Intro
.intro {
  position: relative;
  margin: 0;
  z-index: 2;
  float: left;
  width: 100%;
  .container {
    background: #fff;
    padding: 20px;
    margin: -100px 15px 50px 15px;
    @include box-shadow(0 1px 2px rgba(20, 20, 20, 0.2));
  }
  p {
    font-weight: $light;
    margin: 0;
  }
}

// Countdown
.countdown {
  padding-top: 0px;
}
.timer {
  margin: 20px 0;
  text-align: center;
  line-height: 1.1;
  display: block;
  span {
    font-size: 75%;
    text-transform: uppercase;
    text-align: right;
    display: inline-block;
    margin: 0 5px;
    text-indent: -10px;
  }
  strong {
    font-size: 250%;
    letter-spacing: -1px;
    line-height: 1;
    text-indent: 0;
    display: block;
    font-family: 'Overpass Mono', monospace;
    font-weight: $bold;
    margin-bottom: 0;
  }
}
.timer + hr {
  width: 90%;
  max-width: 280px;
  margin: 0 auto;
}

// Next Event
.event-details {
  width: 90%;
  max-width: 280px;
  margin: 0 auto;
  text-align: left;
  padding: 20px 0;
  .btn {
    float: right;
  }
}
h2 + .event-details {
  padding-top: 0 !important;
}

// Important Dates
.important-dates {
  padding-bottom: 20px;
}

// Keynotes
.keynote {
  text-align: left;
  padding: 20px;

  img {
    margin-right: 20px;
    float: left;
    width: 250px;
  }

  h3 {
    margin: 0 0 20px 0;
    border-bottom: 1px solid #333;
  }

  h4 {
    margin-top: 0;
  }

  .tags {
    text-align: right;
  }
}

// Strip of Photos
section.image-strip {
  margin: 30px auto;
  overflow: hidden;
  text-align: center;
  height: 200px;
  max-width: 273px;
  img {
    display: inline-block;
    height: 55%;
    margin-bottom: 3px;
  }
  img:nth-child(3n),
  img:nth-child(4n) {
    height: 45%;
  }
}

// Sponsors
section.sponsors {
  padding-bottom: 20px;
}
section.sponsors.standard {
  padding: 26px 0;
}

// Footer
footer {
  color: #fff;
  background: darken($primary-color, 10%);
  padding: 0 0 30px 0;
  nav.foot-nav {
    text-align: center;
    padding: 20px 0;
    ul {
      margin: 0;
      padding: 0;
    }
    li {
      list-style: none outside;
    }
    a {
      color: #fff;
      font-weight: 600;
    }
    a:hover {
      color: #ddd;
    }
  }
  ul.social {
    text-align: center;
    margin: 0;
    padding: 0 0 40px 0;
    li {
      list-style: none outside;
      display: inline-block;
      margin: 0 2px;
      padding: 0;
    }
    a {
      display: block;
      width: 43px;
      height: 42px;
      line-height: 42px;
      color: #fff;
      font-size: 20px;
      background-color: $primary-color;
      background-repeat: no-repeat;
      @include transition(0.2s);
      @include border-radius(50%);
      &,
      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
    a:hover {
      background-color: darken($primary-color, 3%);
    }
  }
}

@media only screen and (max-width: 600px) {
  footer {
    ul.social {
      a {
        width: 35px;
        height: 35px;
        line-height: 35px;
        font-size: 16px;
      }
    }
  }
}

// What Now? CTA's
.what-now {
  .btn {
    display: block;
    width: 200px;
    margin: 0 auto 10px auto;
  }
}

// Sponsors
.sponsors {
  a {
    display: inline-block;
  }

  img {
    max-width: 120px !important;
    margin: 10px 15px 10px 15px;
  }

  &.standard img {
    max-width: 100px !important;
  }

  img.platinum {
    max-width: 300px !important;
    max-height: 200px !important;
  }

  small {
    display: block;
    clear: both;
    text-align: center;
    color: #333;
  }
}

// Right Sidebar Page Type
section.right-sidebar {
  .left-col {
    text-align: left;
  }
  .right-col {
    .event-details {
      text-align: center;
      background: $light-grey;
      overflow: hidden;
      padding: 12px 15px;
      margin: 0;
      width: 100%;
      max-width: 9999px;
      margin-top: 20px;
      h2,
      h3,
      h4 {
        margin-top: 0;
      }
      h2,
      h3,
      h4,
      p,
      ul,
      ol,
      table {
        text-align: left;
      }
      h2 span,
      h3 span,
      h4 span {
        display: block;
        font-size: 70%;
      }
      .btn {
        float: none;
        margin: 0 auto;
      }
    }
  }
}

// Full Width Pagetype
section.full-width {
  .left-col {
    text-align: left;
  }
  .right-col {
    h3 {
      margin-bottom: 10px;
    }
    .event-details {
      text-align: center;
      background: $light-grey;
      overflow: hidden;
      padding: 12px 15px;
      width: 100%;
      max-width: 9999px;
      margin-top: 30px;
      h2,
      h3,
      h4 {
        margin-top: 0;
      }
      h2,
      h3,
      h4,
      p,
      ul,
      ol,
      table {
        text-align: left;
      }
      h2 span,
      h3 span,
      h4 span {
        display: block;
        font-size: 70%;
      }
      .btn {
        float: none;
        margin: 0 auto;
        margin-top: 20px;
      }
    }
  }
}

// Agenda
.agenda-list {
  overflow: hidden;
  h3 {
    clear: both;
    margin-top: 0;
    margin-bottom: 5px;
  }
  .col,
  a.col {
    color: $body-color;
    @include transition(0.2s);
    display: block;
    background: $light-grey;
    display: block;
    margin: 0 0 20px 0;
    padding: 40px 15px;
    position: relative;
    border-bottom: 5px solid $primary-color;
    .info {
      font-size: 18px;
      line-height: 1.3;
    }
    .area {
      position: absolute;
      top: 10px;
      left: 15px;
      right: 15px;
    }
    .speaker {
      position: absolute;
      bottom: 10px;
      left: 15px;
      right: 15px;
    }
    .twitter {
      display: none;
    }
    .website {
      display: none;
    }
    .abstract {
      display: none;
    }
    .bio {
      display: none;
    }
  }
  a.col:hover {
    color: #fff;
    text-decoration: none;
  }

  // Border Colours
  .col.aqua-room {
    border-color: $aqua-room;
  }
  a.col.aqua-room:hover {
    background: $aqua-room;
  }

  .col.blue-room {
    border-color: $blue-room;
  }
  a.col.blue-room:hover {
    background: $blue-room;
  }

  .col.green-room {
    border-color: $green-room;
  }
  a.col.green-room:hover {
    background: $green-room;
  }

  .col.orange-room {
    border-color: $orange-room;
  }
  a.col.orange-room:hover {
    background: $orange-room;
  }

  .col.purple-room {
    border-color: $purple-room;
  }
  a.col.purple-room:hover {
    background: $purple-room;
  }

  .col.red-room {
    border-color: $red-room;
  }
  a.col.red-room:hover {
    background: $red-room;
  }

  .col.foyer-room {
    border-color: $foyer-room;
  }
  a.col.foyer-room:hover {
    background: $foyer-room;
  }

  .col.yellow-room {
    border-color: $yellow-room;
  }
  a.col.yellow-room:hover {
    background: $yellow-room;
  }

  .col.keynote-room {
    border-color: $keynote-room;
  }
  a.col.keynote-room:hover {
    background: $keynote-room;
  }

  .col.locknote-room {
    border-color: $locknote-room;
  }
  a.col.locknote-room:hover {
    background: $locknote-room;
  }

  .col.afterparty-room {
    border-color: $afterparty-room;
  }
  a.col.afterparty-room:hover {
    background: $afterparty-room;
  }
}

// Directions Blocks
.directions {
  margin-top: 20px;
  margin-bottom: 20px;
  .col {
    background: $primary-color;
    color: #fff;
    margin: 0 0 16px 0;
    width: 100%;
    .top {
      background: darken($primary-color, 10%);
      padding: 0;
      overflow: hidden;
      i {
        font-size: 300%;
        display: inline-block;
        margin-top: 20px;
      }
      h3 {
        margin: 10px 0 10px 0;
      }
    }
    .txt {
      padding: 15px;
      text-align: left;
      p {
        margin: 0;
      }
    }
    a {
      color: #fff;
      text-decoration: underline;
    }
    a:hover {
      color: #fff;
      text-decoration: none;
    }
  }
}

// Sponsor Page
.sponsor {
  margin-top: 20px;
  margin-bottom: 20px;
  .col {
    background: $light-grey;
    margin: 0 0 16px 0;
    text-align: center;
    padding: 10px 20px;
    @include box-shadow(0 2px 3px rgba(0, 0, 0, 0.2));
    h2 {
      margin-top: 10px;
      margin-bottom: 5px;
    }
  }
}

// Blog
.blog-list-post {
  margin: 25px 0;
  padding-bottom: 15px;
  border-bottom: 1px solid $light-grey;
  h3 {
    margin: 0;
  }
  p.author {
    margin-top: 10px;
    font-weight: 700;
  }
  .blog-date {
    position: relative;
    z-index: 1;
    font-size: 20px;
    background: $light-grey;
    padding: 20px 15px 10px 15px;
    line-height: 1.4;
    strong {
      display: block;
      font-size: 30px;
      line-height: 1;
    }
  }
  .blog-date:before,
  .blog-date:after {
    content: '';
    display: block;
    width: 34px;
    height: 43px;
    background-position: 0 -94px !important;
    position: absolute;
    top: -21px;
  }
  .blog-date:before {
    left: 12px;
  }
  .blog-date:after {
    right: 12px;
  }
}

// Blog Post
.blog-list-post.blog-post {
  border: 0;
}

//  jQuery Scrollbars
.scrollbar-inner > .scroll-element.scroll-x {
  bottom: 0px;
  height: 12px;
}
.scroll-wrapper > .scroll-content {
  padding-bottom: 10px;
}

.scrollbar-inner > .scroll-element .scroll-bar,
.scrollbar-inner > .scroll-element .scroll-element_outer,
.scrollbar-inner > .scroll-element .scroll-element_track {
  @include border-radius(1px);
}

.scrollbar-inner > .scroll-element .scroll-bar {
  background: $primary-color;
  @include opacity(1);
}

// Sessions and Voting
details[open] .fa-plus:before {
  content: '\f068';
}
.profile-photo {
  width: 50px;
  margin-right: 15px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.submit-block {
  .form-control {
    display: inline-block;
    width: auto;
  }
}
.voting-control {
  h3 {
    display: inline;
    padding-right: 20px;
  }
  .panel-heading {
    padding: 15px;
  }
  .btn {
    padding: 10px;
    margin-left: 0 !important;
  }
  .btn:nth-child(2) {
    border-left: 1px solid darken($agenda, 10%);
    border-right: 1px solid darken($agenda, 10%);
  }
  .btn:last-child {
    border: 0;
  }
  .btn:after {
    display: none;
  }
  &.form-inline .form-control {
    display: inline-block;
    width: auto;
  }
  input {
    font-size: 16px !important;
  }
  .panel-heading .alert {
    margin: 0;
  }
  .submit-block {
    float: right;
  }
}

.filters {
  margin-top: 10px;
  > div {
    display: inline-block;
  }

  .rrs__button + .rrs__options {
    min-width: 150px;
    font-size: 0.9em;
  }

  .rrs__options li:before {
    display: none;
  }

  .fa-caret-down {
    position: absolute;
    right: 1rem;
    top: 1.5rem;
    fill: #333;
    margin-right: -3px;
  }
  .rrs--options-visible .fa-caret-down {
    transform: rotate(180deg);
  }
  .rrs__multiselect-label {
    line-height: 1.2;
  }

  .rrs__option.rrs__option {
    .selected-marker {
      display: none;
    }
  }

  .rrs__option.rrs__option--selected {
    .selected-marker {
      display: inline;
    }
    .not-selected-marker {
      display: none;
    }
  }

  .rrs__option.rrs__option--next-selection {
    color: #333;
    background-color: lighten($primary-color, 70%);
  }

  .rrs__option.rrs__option--next-selection:hover {
    background-color: #f7f7f7;
  }

  .rrs__option:hover,
  .rrs__option.rrs__option--selected,
  .rrs--has-changed .rrs__label {
    color: $primary-color;
  }
}
.btn.flagged {
  background-color: rgb(207, 152, 0);
}
.btn.flagged:hover {
  background-color: darken(rgb(207, 152, 0), 10%);
}
@media (max-width: 770px) {
  .voting-control {
    h3 {
      line-height: 35px;
    }
  }
}

@media (max-width: 690px) {
  .voting-control {
    margin: 0 -15px;
    @include border-radius(0);

    .form-control,
    label {
      font-size: 0.8em;
      font-weight: normal;
      padding: 0 5px;
    }

    .rrs__button {
      height: 32px;
      line-height: 32px;
    }

    .rrs__button + .rrs__options {
      top: 32px;
    }

    .fa-caret-down {
      top: 1rem;
    }

    .filters {
      margin-top: 5px;
      font-size: 12px;
    }

    &.form-inline .form-control {
      width: 80px;
    }

    h3 {
      padding-right: 10px;
    }

    .panel-body em,
    .panel-body br + br {
      display: none;
    }

    .panel-body,
    .panel-heading {
      padding: 5px;
    }
  }
}

@media (max-width: 400px) {
  .voting-control {
    .form-control,
    label {
      font-size: 0.7em;
    }
    .submit-block {
      display: inline;
    }

    .filters,
    .rrs__multiselect-label__badge {
      font-size: 10px;
    }

    .rrs__multiselect-label__badge {
      padding: 1px 3px;
      lineheight: 1;
    }

    .remove-when-small {
      display: none;
    }
  }
}

@media (max-width: 370px) {
  .voting-control {
    &.form-inline .form-control {
      width: 60px;
    }

    .btn {
      padding-left: 5px;
      padding-right: 5px;
    }

    h3 {
      font-size: 14px;
      padding-right: 0;
    }
  }
}

.equal-heights {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.panel-body p:first-child {
  margin-top: 10px;
}

#map {
  background: #f7f7f7;
  height: 375px;
  position: relative;
  -webkit-filter: grayscale(100%);

  #map-view {
    height: 375px;
    z-index: 1;
  }

  #map-overlay {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 375px;
    line-height: 375px;
    top: 0;
    left: 0;
    margin: auto;
    background: rgba(0, 0, 0, 0.75);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#cc000000',GradientType=0 ); /* IE6-9 */
    color: #fff;
    z-index: 100;
  }

  #map-overlay h2,
  #map-overlay h3 {
    color: #fff;
    margin: 0;
  }

  #map-overlay h2 {
    font-size: 40px;
    font-weight: 900;
    margin-top: 140px;
  }

  #map-overlay h3 {
    font-size: 24px;
    font-weight: 300;
    font-style: oblique;
  }

  @media only screen and (max-width: 600px) {
    #map-overlay {
      padding: 0 2em;
    }

    #map-overlay h2 {
      margin-top: 100px;
      margin-bottom: 15px;
    }
  }
}

// Agenda

.session {
  cursor: pointer;
}

.dark-green {
  background-color: $primary-color;
  padding: 3px;
}

.green {
  background-color: $aqua-room;
  color: #000;
  padding: 3px;
}

.light-green {
  background-color: $blue-room;
  color: #000;
  padding: 3px;
}

strong.room {
  background-color: $call-content;
  color: #fff;
  padding: 3px;
}
small.room {
  color: $call-content;
}

tr td.highlight-session {
  background: #00a2ff;
  color: #fff;
}

.agenda-row {
  padding: 1em 0 7em 0;
}

.agenda-row h2 {
  color: #333;
  font-family: 'Lato';
  font-weight: 900;
  font-size: 1.75em;
  text-align: center;
  text-transform: uppercase;
  margin: 2.5em 0 0.5em 0;
}

.agenda-row table {
  width: 100%;
}

.agenda-row th {
  background: #333;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
}

.agenda-row th strong {
  display: block;
  font-size: 1.25em;
  font-weight: 800;
  margin-bottom: 0.3em;
}

.agenda-row .breadth-row td {
  background: #f9f9f9;
  padding-top: 1em;
  padding-bottom: 1em;
}

.agenda-row .breadth-row td.session {
  background: #fff;
}

.agenda-row .breadth,
.agenda-row .keynote,
.agenda-row .locknote,
.agenda-row .lunchnote {
  text-align: center;
  font-size: 1.1em;
  font-weight: 600;
}

.agenda-row .breadth em,
.agenda-row .keynote em,
.agenda-row .locknote em,
.agenda-row .lunchnote em {
  font-weight: 400;
}

.agenda-row td {
  background: #fff;
  width: 33%;
  border: 1px solid #ddd;
  line-height: 1.5;
}

.agenda-row td.session-4 {
  width: 24%;
}

.agenda-row td.session-5 {
  width: 19%;
}

.agenda-row td.session-6 {
  width: 16%;
}

.agenda-row tbody tr {
}

.agenda-row .time {
  width: 85px;
  color: #737373;
}

// Video
.responsive-video {
  width: 560px;
  height: 315px;
  position: relative;
  vertical-align: top;
  display: inline-block;

  &:first-child {
    margin-right: 20px;
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
  }
}

@media (max-width: 1199px) {
  .responsive-video:first-child {
    margin-bottom: 10px;
    margin-right: 0;
  }
}

@media (max-width: 580px) {
  .responsive-video {
    width: 100%;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
  }
}

@media only screen and (min-width: 360px) {
  // Countdown
  .timer {
    span {
      font-size: 80%;
      margin: 0 10px;
    }
    strong {
      font-size: 300%;
    }
  }
  .event-details,
  .timer + hr {
    max-width: 405px;
  }
}

// Mobile Portrait Only
@media only screen and (max-width: 480px) {
  .blog-photo {
    margin-bottom: 10px;
    min-width: 100px;
  }
  .blog-intro {
    width: 100% !important;
  }

  #submit-votes.affix + .submitted-session {
    margin-top: 183px !important;
  }
}

//  Mobile Landscape (From 480px)
@media only screen and (min-width: 480px) {
  .btn {
    padding: 6px 15px 5px 15px;
    font-size: 14px;
  }
  .btn-sm {
    padding: 5px 10px;
    font-size: 12px;
  }
  .btn:after {
    margin: 0 0 0 15px;
    font-size: 18px;
  }

  // Header
  header {
    font-size: 25px;
  }

  // Banner
  .banner {
    height: 180px;
  }

  // Intro
  .intro {
    .container {
      padding: 25px;
    }
  }

  // Countdown
  .timer {
    font-weight: $bold;
    margin: 30px 0;
    span {
      font-size: 90%;
      margin: 0 15px;
    }
    strong {
      font-size: 350%;
    }
  }
  .event-details,
  .timer + hr {
    max-width: 405px;
  }

  // Strip of Photos
  section.image-strip {
    width: 100%;
    max-width: 100%;
    height: 150px;
    white-space: nowrap;
    img {
      display: inline-block;
      height: 100%;
    }
    img:nth-child(3n),
    img:nth-child(4n) {
      height: 100%;
    }
  }

  // What Now? CTA's
  .what-now {
    .btn {
      display: inline-block;
      width: 200px;
      margin: 0 5px 15px 5px;
    }
    .btn.vote + span {
      display: block;
    }
  }

  #submit-votes.affix + .submitted-session {
    margin-top: 186px !important;
  }
}

//  Small devices (tablets, 768px and up)
@media only screen and (min-width: 768px) {
  .btn {
    padding: 7px 16px 6px 16px;
    font-size: 15px;
  }
  .btn-sm {
    padding: 5px 10px;
    font-size: 13px;
  }
  .btn:after {
    margin: 0 0 0 17px;
    font-size: 19px;
  }

  // Modals
  .modal-header,
  .modal-body,
  .modal-footer {
    padding: 18px;
  }

  // Header
  header .logo {
    font-size: 30px;
    line-height: 100px;
  }

  // Intro
  .intro {
    .container {
      padding: 30px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  // Fader
  .fader {
    height: 300px;
  }

  // Banner
  .banner {
    height: 190px;
  }

  // Countdown
  .timer {
    margin: 40px 0;
    span {
      font-size: 100%;
      margin: 0 20px;
    }
    strong {
      font-size: 500%;
    }
  }
  .event-details,
  .timer + hr {
    width: 81%;
    max-width: 9999px;
  }

  // Important Dates
  .important-dates {
    padding-bottom: 30px;
  }

  // Strip of Photos
  section.image-strip {
    height: 200px;
  }

  // Footer
  footer {
    padding-bottom: 40px;
    nav.foot-nav {
      padding: 30px 0;
      text-align: center;
      li {
        display: inline-block;
        margin: 0;
        padding: 0 20px;
      }
    }
  }

  // Next Event
  .event-details {
    padding: 30px 0;
    .btn {
      margin-top: 21px;
    }
  }

  // What Now? CTA's
  .what-now {
    .btn {
      width: auto;
    }
    .btn.vote + span {
      display: none;
    }
  }

  // Sponsors
  .sponsors {
    img {
      max-width: 200px !important;
      max-height: 150px !important;
    }

    &.standard img {
      max-width: 120px !important;
      max-height: 80px !important;
    }
  }

  // DDD By Night
  section.ddd-by-night {
    height: 300px;
    .content {
      img {
        margin-left: -30px;
        max-width: 275px !important;
      }
    }
  }

  // Right Sidebar Page Type
  section.right-sidebar {
    .right-col {
      .event-details {
        padding: 7px 15px;
        margin-top: 35px;
      }
    }
  }

  // Full Width Page Type
  section.full-width {
    .right-col {
      .event-details {
        width: 48%;
        float: left;
        margin-top: 47px;
        height: 278px;
        padding: 30px;
      }
    }
  }

  // Directions block and Sponsor page
  .directions,
  .sponsor {
    margin-top: 30px;
    margin-bottom: 30px;
    .col {
      float: left;
      width: 49%;
      margin-right: 2%;
    }
    .col:nth-child(2n) {
      margin-right: 0;
    }
  }

  // Sponsor Page
  .sponsor {
    .col {
      padding: 20px 40px;
    }
  }

  // Blog
  .blog-list-post {
    margin: 60px 0 30px 0;
    padding-bottom: 30px;
    .inner {
      padding: 0 5px;
    }
    .blog-date {
      padding: 25px 15px 12px 15px;
      font-size: 14px;
      strong {
        font-size: 22px;
      }
    }
  }

  // Agenda
  .agenda-list {
    .col,
    a.col {
      float: left;
      width: 31.25%;
      margin: 0 2% 20px 0;
    }
  }

  #submit-votes.affix + .submitted-session {
    margin-top: 200px !important;
  }
}

//  Medium devices (desktops, 992px and up)
@media only screen and (min-width: 992px) {
  .btn {
    padding: 8px 20px 7px 20px;
    font-size: 16px;
  }
  .btn-sm {
    padding: 7px 10px 5px 10px;
    font-size: 14px;
  }
  .btn:after {
    margin: 0 0 0 20px;
    font-size: 19px;
  }

  // Modals
  .modal-header,
  .modal-body,
  .modal-footer {
    padding: 22px;
  }

  // Header
  header .logo {
    font-size: 35px;
    line-height: 134px;
  }

  // Countdown
  .timer {
    margin: 40px 0;
    span {
      font-size: 110%;
      margin: 0 25px;
    }
    strong {
      font-size: 600%;
    }
  }
  .event-details,
  .timer + hr {
    width: 81%;
  }

  // Fader
  .fader {
    height: 350px;
  }

  // Banner
  .banner {
    height: 195px;
  }

  // Important Dates
  .important-dates {
    padding-bottom: 40px;
  }

  // Strip of Photos
  section.image-strip {
    height: 250px;
  }

  // Footer
  footer {
    padding-bottom: 50px;
    nav.foot-nav {
      padding: 35px 0;
    }
  }

  // Next Event
  .event-details {
    padding: 40px 0;
    .btn {
      margin-top: 25px;
    }
  }

  // DDD By Night
  section.ddd-by-night {
    height: 350px;
    .content {
      img {
        margin-left: -30px;
        max-width: 100% !important;
      }
    }
  }

  // Right Sidebar Page Type
  section.right-sidebar {
    .right-col {
      .event-details {
        padding: 17px 23px;
        margin-top: 40px;
      }
    }
  }

  // Full Width Page Type
  section.full-width {
    .right-col {
      .event-details {
        margin-top: 49px;
        .btn {
          margin-top: 10px;
        }
      }
    }
  }

  // Directions Block and Sponsor Page
  .directions,
  .sponsor {
    margin-top: 35px;
    margin-bottom: 30px;
    .col,
    .col:nth-child(2n) {
      margin-right: 1.25%;
      width: 24%;
    }
    .col:last-child {
      margin-right: 0;
    }
  }

  // Sponsor Page
  .sponsor {
    .col {
      padding: 20px 20px;
      h2 {
        margin-top: 15px;
      }
    }
  }

  // Blog
  .blog-list-post {
    .inner {
      padding: 0 20px;
    }
    .blog-date {
      padding: 25px 15px 12px 15px;
      font-size: 15px;
      strong {
        font-size: 23px;
      }
    }
  }

  // Agenda
  .agenda-list {
    .col,
    a.col {
      width: 23%;
      margin: 0 2% 20px 0;
    }
  }
}

//  Large devices (large desktops, 1200px and up)
@media only screen and (min-width: 1200px) {
  .btn {
    padding: 10px 23px 8px 23px;
    font-size: 17px;
  }
  .btn-sm {
    padding: 7px 10px 5px 10px;
    font-size: 15px;
  }
  .btn:after {
    margin: 0 0 0 20px;
    font-size: 20px;
  }

  // Modals
  .modal-header,
  .modal-body,
  .modal-footer {
    padding: 25px;
  }

  // Header
  header .logo {
    font-size: 40px;
  }

  // Fader
  .fader {
    height: 398px;
  }

  // Banner
  .banner {
    height: 208px;
  }

  // Important Dates
  .important-dates {
    padding-bottom: 50px;
  }

  // Strip of Photos
  section.image-strip {
    height: 300px;
  }

  // Footer
  footer {
    padding-bottom: 60px;
    nav.foot-nav {
      padding: 40px 0;
    }
  }

  // Countdown
  .timer {
    span {
      font-size: 115%;
      margin: 0 30px;
    }
    strong {
      font-size: 650%;
    }
  }
  .event-details,
  .timer + hr {
    width: 81%;
  }

  // Next Event
  .event-details {
    padding: 50px 0;
    .btn {
      margin-top: 30px;
    }
  }

  // DDD By Night
  section.ddd-by-night {
    height: 390px;
  }

  // Right Sidebar Page Type
  section.right-sidebar {
    .right-col {
      .event-details {
        padding: 20px 25px;
        margin-top: 45px;
      }
    }
  }

  // Full Width Page Type
  section.full-width {
    .right-col {
      .event-details {
        margin-top: 51px;
        height: 301px;
        .btn {
          margin-top: 0;
        }
      }
    }
  }

  // Directions Block and Sponsor Page
  .directions,
  .sponsor {
    margin-top: 50px;
    margin-bottom: 35px;
    .col,
    .col:nth-child(2n) {
      margin-right: 1.75%;
      width: 23.5%;
    }
    .col:last-child {
      margin-right: 0;
    }
  }

  // Agenda
  .agenda-list {
    .col,
    a.col {
      padding: 55px 20px;
      margin: 0 2% 20px 0;
      .speaker,
      .area {
        left: 20px;
        right: 20px;
      }
      .area {
        top: 20px;
      }
      .speaker {
        bottom: 20px;
      }
      .info {
        font-size: 19px;
      }
    }
  }
}

//  Ex Large devices (large desktops, 1200px and up)
@media only screen and (min-width: 1400px) {
  .btn {
    padding: 12px 25px 10px 25px;
    font-size: 18px;
  }
  .btn-sm {
    padding: 7px 10px 5px 10px;
    font-size: 16px;
  }
  .btn:after {
    margin: 0 0 0 20px;
    font-size: 20px;
  }

  // Header
  header .logo {
    font-size: 45px;
  }

  // Fader
  .fader {
    .container {
      .intro {
        padding: 50px 70px;
      }
    }
  }

  // Countdown
  .timer {
    span {
      font-size: 115%;
      margin: 0 30px;
    }
    strong {
      font-size: 650%;
    }
    margin: 60px 0;
  }
  .event-details,
  .timer + hr {
    width: 86%;
  }

  // Next Event
  .event-details {
    padding: 60px 0;
    .btn {
      margin-top: 33px;
    }
  }

  // Important Dates
  .important-dates {
    padding-bottom: 50px;
  }

  // Strip of Photos
  section.image-strip {
    height: 370px;
  }

  // Footer
  footer {
    nav.foot-nav {
      padding: 45px 0;
    }
  }

  // DDD By Night
  section.ddd-by-night {
    height: 424px;
  }

  // Right Sidebar Page Type
  section.right-sidebar {
    .right-col {
      .event-details {
        padding: 23px 30px;
        margin-top: 50px;
      }
    }
  }

  // Full Width Page Type
  section.full-width {
    .right-col {
      .event-details {
        margin-top: 51px;
        height: 360px;
        padding: 30px 35px;
        .btn {
          margin-top: 0;
        }
      }
    }
  }

  // Directions Block and Sponsor Page
  .directions,
  .sponsor {
    margin-top: 60px;
    margin-bottom: 40px;
    .col,
    .col:nth-child(2n) {
      margin-right: 2%;
      width: 23.5%;
      .top {
        i {
          font-size: 400%;
        }
        h3 {
          margin: 15px 0 10px 0;
        }
      }
    }
    .col:last-child {
      margin-right: 0;
    }
  }

  // Sponsor Page
  .sponsor {
    .col {
      padding: 20px 30px;
      h2 {
        margin-top: 20px;
      }
    }
  }

  // Blog
  .blog-list-post {
    margin: 60px 0 30px 0;
    padding-bottom: 30px;
    .inner {
      padding: 0 30px;
    }
    .blog-date {
      padding: 25px 17px 12px 17px;
    }
  }

  // Agenda
  .agenda-list {
    .col,
    a.col {
      padding: 65px 25px;
      margin: 0 2% 20px 0;
      .speaker,
      .area {
        left: 25px;
        right: 25px;
      }
      .area {
        top: 22px;
      }
      .speaker {
        bottom: 22px;
      }
      .info {
        font-size: 20px;
      }
    }
  }
}
